<p id="notice"><%= notice %></p>



<div class="container">
  <div class="row">
    <% @todos.each_slice(3) do |todo| %>
      <% todo.each do |t| %>
        <div class="col">
          <div class='card' style="padding:2%">
            <%= image_tag t.photo,class: 'card-img-top' %>
                <div class="body">
                    <h5 style="padding: 2%; text-align: center"><%= t.task %></h5>
                </div>
                    <% if t.users.include?(current_user) %>
                      <p style="text-align:center; border: solid black 1px; padding:2%;color:green; margin-bottom: 0%;border-radius:5px"> Ya hiciste esto! </p>
                      <%= link_to 'Borrar Hecho', undone_path(t), class: 'btn btn-warning', method: :delete %>
                    <% else %>
                      <%= link_to 'Por hacer', done_path(t), class: 'btn btn-success', method: :post %>
                     <% end %>
                      <%= link_to 'lista de usuarios', t, class: 'btn btn-info' %>


          </div>
        </div>
        <%end%>
      <div class="w-100" style="margin-top: 20px"></div>
    <%end%>
  </div>
</div>
